.password-table-container {
  @include flex-center;

  background-color: white;
  height: auto;
  padding: 1.215rem;
}

.password-table {
  tr:hover {
    background-color: rgba(165, 102, 255, 0.2);
  }

  th,
  td {
    width: 160px;
    text-align: center;
    border-radius: 8px;
    padding-top: 0.25rem;
    padding-bottom: 0.2rem;
  }

  th {
    background-color: $warning-color;
    color: white;
  }

  input {
    width: 100%;
    outline: none;
    padding: 0.5rem;
    border-radius: 4px;
  }
}