.items-table-container {
  width: 100%;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 0.8rem;
  overflow: hidden;

  @include medium {
    margin-left: 0;
    margin-right: 0;
  }

  tr:hover {
    background-color: rgba(255, 187, 0, 0.2);
  }

  th,
  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  th {
    background-color: $member-color;
    color: white;
  }

  td.link:hover {
    span {
      color: white;
      background-color: $success-color;
      padding: 0.3rem;
      border-radius: 4px;
      transition: 0.2s;
      cursor: pointer;
    }
  }
}
