.apeach-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    font-size: 1.5rem;
    margin-left: 0.25rem;
    margin-right: -0.4375rem;
    color: #9e9e9e;
    transition: 0.125s all ease-in;
  }

  &:hover {
    div {
      background-image: url('/user2.png');
    }
    svg {
      color: #4d4d4d;
    }
  }
}

.apeach-box {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.125s all ease-in;
  background-image: url('/user.png');
}