.header-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 20;

  @include shadow(2);

  @media print {
    display: none;
  }
}

.header-layout {
  display: flex;
  justify-content: center;
  background-color: white;
  height: auto;
}

.header-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 1200px;
  height: 55px;
  padding-left: 1rem;
  padding-right: 1rem;

  @include large {
    width: 992px;
  }

  @include medium {
    width: 100%;
  }
}

.header-spacer {
  flex-grow: 1;
}