.logo-container {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-shadow: 0.5px 0.5px;
  }

  &.member {
    color: $member-color;
  }

  &.associate {
    color: $associate-color;
  }

  &.general {
    color: $general-color;
  }

  &.cart {
    color: $warning-color;
  }

  &.fronts {
    color: $success-color;
  }

  &.password {
    color: $warning-color;
  }

  &.weddings {
    color: $success-color;
  }
}