.add-reserve-container {
  position: absolute;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 0.3s ease-out 0s 1 fadeIn;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @include shadow(2);
}

.add-reserve-logo {
  @include flex-center;

  background-color: $success-color;
  color: white;
  height: 3.5rem;
  font-size: 1.212rem;
  font-weight: 800;
  letter-spacing: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;

  &:hover {
    color: #e5dbff;
  }
}