.reserve-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: auto;
}

.reserve-table {
  tr:hover {
    background: rgba(165, 102, 255, 0.2);
  }

  th,
  td {
    border-radius: 8px;
    padding-top: 0.25rem;
    padding-bottom: 0.2rem;
    width: 160px;
    text-align: center;
  }

  th {
    background-color: $menu-color;
    color: white;
  }
}

.reserve-table-input {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  border-radius: 4px;
}