// 메인 색상
$member-color: #1098ad;
$associate-color: #68a614;
$general-color: #e47112;
$success-color: #7950f2;
$warning-color: #fab005;
$error-color: #fa5252;
$search-color: #3bc9db;
$menu-color: #4c6ef5;

// 중성 색상
$background-color: #f8fafc;
$line-color: #d8d9d9;
$text-primary: #1e293b;
$text-secondary: #64748b;
$wedding-background: #e3e0fa;
$green-background: #9ed158;
$front-table-color: #91a7ff;
$pink-color: #f27de6;
$bill-sub-total: #d027bf;

// 브레이크 포인트
$large: 1200px;
$medium: 992px;
$small: 768px;
$xsmall: 376px;

// 그림자
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
