@use "variables" as *;

// 반응형 믹스인
@mixin large {
  @media (max-width: #{$large}) {
    @content;
  }
}

@mixin medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}

@mixin small {
  @media (max-width: #{$small}) {
    @content;
  }
}

@mixin xsmall {
  @media (max-width: #{$xmall}) {
    @content;
  }
}

// 그림자 믹스인
@mixin shadow($weight: 1) {
  @if $weight == 1 {
    box-shadow: $shadow-1;
  } @else if $weight == 2 {
    box-shadow: $shadow-2;
  } @else if $weight == 3 {
    box-shadow: $shadow-3;
  } @else if $weight == 4 {
    box-shadow: $shadow-4;
  } @else if $weight == 5 {
    box-shadow: $shadow-5;
  } @else {
    box-shadow: none;
  }
}

// 플렉스 믹스인
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// 애니메이션 믹스인
@mixin fadeIn {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin slideUpFromBottom {
  @keyframes slideUpFromBottom {
    0% {
      transform: translateY(70%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
